/* 테마 토큰 (다이내믹 테마 전환을 위한 CSS 변수) */
:root {
    /* 기본 팔레트 - 라이트 */
    --colors-grey-25: #F3F3F3FF;
    --colors-grey-50: #E5E5E6FF;
    --colors-grey-100: #CCCCCDFF;
    --colors-grey-200: #B2B2B5FF;
    --colors-grey-300: #99999CFF;
    --colors-grey-400: #8C8C90FF;
    --colors-grey-500: #7F7F83FF;
    --colors-grey-600: #707072FF;
    --colors-grey-700: #525255FF;
    --colors-grey-800: #3E3E42FF;
    --colors-grey-900: #29292BFF;
    --colors-grey-950: #161617FF;

    --colors-red-25: #FFEFF0FF;
    --colors-red-50: #FFD5D7FF;
    --colors-red-100: #FFAAAEFF;
    --colors-red-200: #FF868CFF;
    --colors-red-300: #F96269FF;
    --colors-red-400: #F74B53FF;
    --colors-red-500: #F33942FF;
    --colors-red-600: #F02B35FF;
    --colors-red-700: #DA1D26FF;
    --colors-red-800: #CD0F18FF;
    --colors-red-900: #9B0A11FF;
    --colors-red-950: #620005FF;

    --colors-yellow-25: #FFF8E3FF;
    --colors-yellow-50: #FFF0BFFF;
    --colors-yellow-100: #FFE284FF;
    --colors-yellow-200: #FFD154FF;
    --colors-yellow-300: #FFC227FF;
    --colors-yellow-400: #FFB41FFF;
    --colors-yellow-500: #FFA201FF;
    --colors-yellow-600: #EB8E02FF;
    --colors-yellow-700: #D17C1BFF;
    --colors-yellow-800: #A86211FF;
    --colors-yellow-900: #82490DFF;
    --colors-yellow-950: #65370AFF;

    --colors-blue-25: #F3F9FFFF;
    --colors-blue-50: #CCE4FFFF;
    --colors-blue-100: #9CC8FFFF;
    --colors-blue-200: #6EADFFFF;
    --colors-blue-300: #4A98FFFF;
    --colors-blue-400: #2483FFFF;
    --colors-blue-500: #006EFFFF;
    --colors-blue-600: #005BEDFF;
    --colors-blue-700: #0646CEFF;
    --colors-blue-800: #103AAEFF;
    --colors-blue-900: #122B8AFF;
    --colors-blue-950: #132168FF;

    --colors-green-25: #EAF9ECFF;
    --colors-green-50: #C3EDD0FF;
    --colors-green-100: #A9EABBFF;
    --colors-green-200: #82D8A3FF;
    --colors-green-300: #5CD18EFF;
    --colors-green-400: #28BB7DFF;
    --colors-green-500: #00AD71FF;
    --colors-green-600: #00986EFF;
    --colors-green-700: #008964FF;
    --colors-green-800: #006D5AFF;
    --colors-green-900: #005C50FF;
    --colors-green-950: #033A32FF;

    --colors-pink-25: #FFF0F3FF;
    --colors-pink-50: #FFDEE7FF;
    --colors-pink-100: #FFBACAFF;
    --colors-pink-200: #FF96B4FF;
    --colors-pink-300: #FC779FFF;
    --colors-pink-400: #FF6193FF;
    --colors-pink-500: #FF4A7DFF;
    --colors-pink-600: #F23369FF;
    --colors-pink-700: #DE1B55FF;
    --colors-pink-800: #B20B40FF;
    --colors-pink-900: #920937FF;
    --colors-pink-950: #6B0628FF;

    /* 고정 색상 (테마와 상관없이 고정된 값) */
    --static-black: #000000FF;
    --static-white: #FFFFFFFF;
    --static-primary: var(--colors-blue-500);
    --static-secondary: #2483FFFF;
    --static-null: #FF00CDFF;

    /* 시맨틱 토큰 - 라이트 */
    --label-primary: var(--colors-grey-900);
    --label-secondary: #171717BF;
    --label-tertiary: #17171799;
    --label-quaternary: #17171766;
    --label-quinary: #17171733;
    --label-accent: var(--static-primary);
    --refine-accent: var(--static-primary);
    --refine-primary: #16181AFF;
    --refine-secondary: #4E5052FF;
    --refine-tertiary: #727476FF;
    --refine-quaternary: #A0A2A4FF;
    --refine-quinary: #D0D1D2FF;
    --refine-senary: #F3F5F7FF;
    --refine-septenary: #F9FAFBFF;
    --fill-panel-primary: var(--fill-surface-primary);
    --fill-panel-secondary: var(--refine-septenary);
    --fill-segment: var(--static-white);
    --fill-surface-primary: var(--fill-background-primary);
    --fill-surface-secondary: var(--fill-background-primary);
    --fill-surface-tertiary: var(--colors-grey-50);
    --fill-background-primary: var(--static-white);
    --fill-background-secondary: var(--refine-senary);
    --line-accent: var(--static-primary);
    --line-primary: #C9CBCDFF;
    --line-secondary: #E4E5E6FF;
    --line-tertiary: #F1F1F2FF;
    --dimmed-primary: #00000085;
    --dimmed-secondary: #00000052;
    --dimmed-tertiary: #0000001F;
    --interaction-surface: #4B5258FF;
    --interaction-blue: #6A829AFF;
    --interaction-disabled: #383A3A1A;
    --status-positive: var(--static-primary);
    --status-negative: var(--colors-red-500);
    --status-caution: var(--colors-yellow-500);
    --elevation-10-color: #00000005;
    --elevation-20-color: #0000000A;
    --elevation-30-color: #0000000F;
    --elevation-40-color: #00000014;
    --inverse-white: var(--static-white);
    --inverse-black: var(--static-black);

}

body.dark-theme {
    /* 기본 팔레트 - 다크 모드 오버라이드 */
    --colors-grey-25: #161616FF;
    --colors-grey-50: #212122FF;
    --colors-grey-100: #2D2D2EFF;
    --colors-grey-200: #4A4A4DFF;
    --colors-grey-300: #59595CFF;
    --colors-grey-400: #757579FF;
    --colors-grey-500: #87878BFF;
    --colors-grey-600: #8B8B90FF;
    --colors-grey-700: #B2B2B2FF;
    --colors-grey-800: #CCCCCCFF;
    --colors-grey-900: #E5E5E5FF;
    --colors-grey-950: #F2F2F2FF;

    --colors-red-25: #56080DFF;
    --colors-red-50: #7C181EFF;
    --colors-red-100: #AB252CFF;
    --colors-red-200: #C6252EFF;
    --colors-red-300: #D72E37FF;
    --colors-red-400: #E93841FF;
    --colors-red-500: #F74B53FF;
    --colors-red-600: #F96269FF;
    --colors-red-700: #FA747BFF;
    --colors-red-800: #FA9196FF;
    --colors-red-900: #FFCBCEFF;
    --colors-red-950: #FFE2E3FF;

    --colors-yellow-25: #3A2918FF;
    --colors-yellow-50: #493116FF;
    --colors-yellow-100: #5D3B14FF;
    --colors-yellow-200: #82521AFF;
    --colors-yellow-300: #AE6B1DFF;
    --colors-yellow-400: #DB881CFF;
    --colors-yellow-500: #FE9F19FF;
    --colors-yellow-600: #FCAB30FF;
    --colors-yellow-700: #FABC57FF;
    --colors-yellow-800: #FACB73FF;
    --colors-yellow-900: #FCDD9FFF;
    --colors-yellow-950: #FFF0C6FF;

    --colors-blue-25: #172457FF;
    --colors-blue-50: #142A70FF;
    --colors-blue-100: #0F338CFF;
    --colors-blue-200: #073DA8FF;
    --colors-blue-300: #024ABFFF;
    --colors-blue-400: #0058DBFF;
    --colors-blue-500: #006EFFFF;
    --colors-blue-600: #1C82FFFF;
    --colors-blue-700: #4C9DFFFF;
    --colors-blue-800: #7DB5FFFF;
    --colors-blue-900: #A6CFFFFF;
    --colors-blue-950: #C9E2FFFF;

    --colors-green-25: #032628FF;
    --colors-green-50: #064846FF;
    --colors-green-100: #046550FF;
    --colors-green-200: #0C7A5AFF;
    --colors-green-300: #088864FF;
    --colors-green-400: #059772FF;
    --colors-green-500: #03AA75FF;
    --colors-green-600: #35B678FF;
    --colors-green-700: #53C182FF;
    --colors-green-800: #6CD297FF;
    --colors-green-900: #95E0AAFF;
    --colors-green-950: #BBF4CDFF;

    --colors-pink-25: #471725FF;
    --colors-pink-50: #5D1B2EFF;
    --colors-pink-100: #79203BFF;
    --colors-pink-200: #9A2548FF;
    --colors-pink-300: #BC2956FF;
    --colors-pink-400: #D92E61FF;
    --colors-pink-500: #F0376FFF;
    --colors-pink-600: #F74A7BFF;
    --colors-pink-700: #F7658AFF;
    --colors-pink-800: #F7839EFF;
    --colors-pink-900: #FFACC2FF;
    --colors-pink-950: #F9D1DAFF;

    /* 시맨틱 토큰 - 다크 */
    --label-primary: var(--colors-grey-900);
    --label-secondary: #E5E5E5BF;
    --label-tertiary: #E5E5E575;
    --label-quaternary: #E5E5E557;
    --label-quinary: #E5E5E538;
    --label-accent: var(--static-primary);
    --refine-accent: var(--static-primary);
    --refine-primary: #E2E3E7FF;
    --refine-secondary: #AEB0B2FF;
    --refine-tertiary: #727376FF;
    --refine-quaternary: #585A5DFF;
    --refine-quinary: #3F4144FF;
    --refine-senary: #2A2C2FFF;
    --refine-septenary: #1E2024FF;
    --fill-panel-primary: var(--fill-surface-primary);
    --fill-panel-secondary: var(--fill-surface-primary);
    --fill-segment: var(--colors-grey-300);
    --fill-surface-primary: #161719FF;
    --fill-surface-secondary: #1D1E21FF;
    --fill-surface-tertiary: #26282BFF;
    --fill-background-primary: #121315FF;
    --fill-background-secondary: #0A0B0CFF;
    --line-accent: var(--static-primary);
    --line-primary: #3B3D44FF;
    --line-secondary: #2F3036FF;
    --line-tertiary: #222428FF;
    --dimmed-primary: #000000BD;
    --dimmed-secondary: #0000008A;
    --dimmed-tertiary: #00000057;
    --interaction-surface: var(--static-white);
    --interaction-blue: #D8E3FFFF;
    --interaction-disabled: #37383DB8;
    --status-positive: var(--static-primary);
    --status-negative: var(--colors-red-500);
    --status-caution: var(--colors-yellow-500);
    --elevation-10-color: #00000029;
    --elevation-20-color: #0000002E;
    --elevation-30-color: #0000003D;
    --elevation-40-color: #00000047;
    --inverse-white: var(--static-black);
    --inverse-black: var(--static-white);
    --static-primary: var(--colors-blue-600);
    --static-secondary: var(--colors-blue-500);

}