/* 속성 - Radius */
$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-full: 999999px;

:root {
    --radius-2: #{$radius-2};
    --radius-4: #{$radius-4};
    --radius-6: #{$radius-6};
    --radius-8: #{$radius-8};
    --radius-10: #{$radius-10};
    --radius-12: #{$radius-12};
    --radius-16: #{$radius-16};
    --radius-20: #{$radius-20};
    --radius-full: #{$radius-full};
}