// 아이콘 마스크 스타일 믹스인
// 한 줄의 코드로 아이콘 마스크 설정을 완료할 수 있습니다.
@mixin icon-mask($url, $size: contain) {
    -webkit-mask-image: url($url);
    mask-image: url($url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: $size;
    mask-size: $size;
}