/* Typography Tokens (SCSS Mixins) */
@mixin set-typography($size, $weight, $lh, $family: $font-family-base) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $lh;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

@mixin display-56-b() {
    @include set-typography(
        $text-display-56-b-size,
        $text-display-56-b-weight,
        $text-display-56-b-lh
    );
}

@mixin display-44-b() {
    @include set-typography(
        $text-display-44-b-size,
        $text-display-44-b-weight,
        $text-display-44-b-lh
    );
}

@mixin display-32-b() {
    @include set-typography(
        $text-display-32-b-size,
        $text-display-32-b-weight,
        $text-display-32-b-lh
    );
}

@mixin display-28-b() {
    @include set-typography(
        $text-display-28-b-size,
        $text-display-28-b-weight,
        $text-display-28-b-lh
    );
}

@mixin title-24-b() {
    @include set-typography(
        $text-title-24-b-size,
        $text-title-24-b-weight,
        $text-title-24-b-lh
    );
}

@mixin title-24-r() {
    @include set-typography(
        $text-title-24-r-size,
        $text-title-24-r-weight,
        $text-title-24-r-lh
    );
}

@mixin title-20-b() {
    @include set-typography(
        $text-title-20-b-size,
        $text-title-20-b-weight,
        $text-title-20-b-lh
    );
}

@mixin title-20-r() {
    @include set-typography(
        $text-title-20-r-size,
        $text-title-20-r-weight,
        $text-title-20-r-lh
    );
}

@mixin title-18-sb() {
    @include set-typography(
        $text-title-18-sb-size,
        $text-title-18-sb-weight,
        $text-title-18-sb-lh
    );
}

@mixin title-18-r() {
    @include set-typography(
        $text-title-18-r-size,
        $text-title-18-r-weight,
        $text-title-18-r-lh
    );
}

@mixin title-16-sb() {
    @include set-typography(
        $text-title-16-sb-size,
        $text-title-16-sb-weight,
        $text-title-16-sb-lh
    );
}

@mixin title-16-r() {
    @include set-typography(
        $text-title-16-r-size,
        $text-title-16-r-weight,
        $text-title-16-r-lh
    );
}

@mixin title-15-sb() {
    @include set-typography(
        $text-title-15-sb-size,
        $text-title-15-sb-weight,
        $text-title-15-sb-lh
    );
}

@mixin title-15-r() {
    @include set-typography(
        $text-title-15-r-size,
        $text-title-15-r-weight,
        $text-title-15-r-lh
    );
}

@mixin title-14-sb() {
    @include set-typography(
        $text-title-14-sb-size,
        $text-title-14-sb-weight,
        $text-title-14-sb-lh
    );
}

@mixin title-14-r() {
    @include set-typography(
        $text-title-14-r-size,
        $text-title-14-r-weight,
        $text-title-14-r-lh
    );
}

@mixin body-16-sb() {
    @include set-typography(
        $text-body-16-sb-size,
        $text-body-16-sb-weight,
        $text-body-16-sb-lh
    );
}

@mixin body-16-r() {
    @include set-typography(
        $text-body-16-r-size,
        $text-body-16-r-weight,
        $text-body-16-r-lh
    );
}

@mixin body-15-sb() {
    @include set-typography(
        $text-body-15-sb-size,
        $text-body-15-sb-weight,
        $text-body-15-sb-lh
    );
}

@mixin body-15-r() {
    @include set-typography(
        $text-body-15-r-size,
        $text-body-15-r-weight,
        $text-body-15-r-lh
    );
}

@mixin body-14-sb() {
    @include set-typography(
        $text-body-14-sb-size,
        $text-body-14-sb-weight,
        $text-body-14-sb-lh
    );
}

@mixin body-14-r() {
    @include set-typography(
        $text-body-14-r-size,
        $text-body-14-r-weight,
        $text-body-14-r-lh
    );
}

@mixin body-13-sb() {
    @include set-typography(
        $text-body-13-sb-size,
        $text-body-13-sb-weight,
        $text-body-13-sb-lh
    );
}

@mixin body-13-r() {
    @include set-typography(
        $text-body-13-r-size,
        $text-body-13-r-weight,
        $text-body-13-r-lh
    );
}

@mixin caption-13-sb() {
    @include set-typography(
        $text-caption-13-sb-size,
        $text-caption-13-sb-weight,
        $text-caption-13-sb-lh
    );
}

@mixin caption-13-r() {
    @include set-typography(
        $text-caption-13-r-size,
        $text-caption-13-r-weight,
        $text-caption-13-r-lh
    );
}

@mixin caption-12-sb() {
    @include set-typography(
        $text-caption-12-sb-size,
        $text-caption-12-sb-weight,
        $text-caption-12-sb-lh
    );
}

@mixin caption-12-r() {
    @include set-typography(
        $text-caption-12-r-size,
        $text-caption-12-r-weight,
        $text-caption-12-r-lh
    );
}

@mixin caption-11-sb() {
    @include set-typography(
        $text-caption-11-sb-size,
        $text-caption-11-sb-weight,
        $text-caption-11-sb-lh
    );
}

@mixin caption-11-r() {
    @include set-typography(
        $text-caption-11-r-size,
        $text-caption-11-r-weight,
        $text-caption-11-r-lh
    );
}

@mixin label-15-sb() {
    @include set-typography(
        $text-label-15-sb-size,
        $text-label-15-sb-weight,
        $text-label-15-sb-lh
    );
}

@mixin label-15-r() {
    @include set-typography(
        $text-label-15-r-size,
        $text-label-15-r-weight,
        $text-label-15-r-lh
    );
}

@mixin label-14-sb() {
    @include set-typography(
        $text-label-14-sb-size,
        $text-label-14-sb-weight,
        $text-label-14-sb-lh
    );
}

@mixin label-14-r() {
    @include set-typography(
        $text-label-14-r-size,
        $text-label-14-r-weight,
        $text-label-14-r-lh
    );
}

@mixin label-13-sb() {
    @include set-typography(
        $text-label-13-sb-size,
        $text-label-13-sb-weight,
        $text-label-13-sb-lh
    );
}

@mixin label-13-r() {
    @include set-typography(
        $text-label-13-r-size,
        $text-label-13-r-weight,
        $text-label-13-r-lh
    );
}

@mixin label-12-sb() {
    @include set-typography(
        $text-label-12-sb-size,
        $text-label-12-sb-weight,
        $text-label-12-sb-lh
    );
}

@mixin label-12-r() {
    @include set-typography(
        $text-label-12-r-size,
        $text-label-12-r-weight,
        $text-label-12-r-lh
    );
}

@mixin label-10-sb() {
    @include set-typography(
        $text-label-10-sb-size,
        $text-label-10-sb-weight,
        $text-label-10-sb-lh
    );
}

@mixin label-10-r() {
    @include set-typography(
        $text-label-10-r-size,
        $text-label-10-r-weight,
        $text-label-10-r-lh
    );
}

@mixin mono-14-r() {
    font-family: 'SF Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}