// 아이콘 버튼 스타일
// VDS 3.0 디자인 가이드라인 기준
// 색상과 인터랙션은 _button.scss의 스타일을 상속받습니다.


.btn.btn--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    border-radius: $radius-medium;
    flex-shrink: 0;
    flex: 0 0 auto;
    align-self: center;
    overflow: hidden;
    min-width: 0; // 기본 버튼의 min-width 초기화


    // 크기 및 Radius 
    &.btn--large {
        width: 48px;
        height: 48px;

        svg,
        .btn__loading-animation {
            width: 24px;
            height: 24px;
        }
    }

    &.btn--medium {
        width: 40px;
        height: 40px;

        svg,
        .btn__loading-animation {
            width: 20px;
            height: 20px;
        }
    }

    &.btn--small {
        width: 32px;
        height: 32px;
        border-radius: $radius-small;

        svg,
        .btn__loading-animation {
            width: 16px;
            height: 16px;
        }
    }
}