@import "../core/index";

.segmented-control {
    display: inline-flex;
    position: relative;
    padding: 2px;
    background-color: var(--fill-background-secondary);
    border-radius: $radius-8;
    user-select: none;
    gap: 4px; // 아이템 간 간격

    &--medium {
        height: 40px;

        .segmented-control__item {
            @include label-14-sb();
            padding: 0 16px;
        }
    }

    &--small {
        height: 32px;

        .segmented-control__item {
            @include label-12-sb();
            padding: 0 12px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 1;
        cursor: pointer;
        color: var(--label-secondary);
        border-radius: $radius-6;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;
        height: 100%;
        z-index: 1;

        &:hover {
            color: var(--label-primary);
        }

        &--active {
            color: var(--label-primary);
            background-color: var(--fill-segment);
            box-shadow: 0px 1px 3px var(--elevation-10-color);


        }
    }
}