@import "../core/index";

// Tab 스타일 정의

@mixin tab-large {
    height: 48px;
    padding: 0 18px;
    @include label-15-sb();
}

@mixin tab-medium {
    height: 40px;
    padding: 0 10px;
    @include label-14-sb();
}

@mixin tab-small {
    height: 32px;
    padding: 0 10px;
    @include label-13-sb();
}



.tab-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-tertiary);
    width: 100%;
    background-color: transparent;
}

.tab-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    color: var(--label-tertiary);
    transition: all 0.2s ease;
    box-sizing: border-box;
    white-space: nowrap;

    // 언더라인 베이스 (기본적으로 Full Width 활성)
    &::after {
        content: none;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: currentColor;
    }

    // [Hover 또는 Active] 기본 피드백 스타일
    &:hover,
    &--active {
        color: var(--label-primary); // 기본 컬러

        &::after {
            content: ''; // 기본 활성화 (Full Width)
        }
    }

    // [Hover 또는 Active] 액센트 모드 전용 (플리커링 방지를 위해 명확히 분리)
    .tab-list--accent & {

        &:hover,
        &--active {
            color: var(--label-accent);
        }
    }

    // [아이템 개별 클래스 기반] 호환성 유지
    &--accent:hover,
    &--accent.tab-item--active {
        color: var(--label-accent);
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--label-quinary);
        pointer-events: none;
    }

    &__text {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 100%;

        // 텍스트 영역 언더라인 베이스 (기본적으로 숨김)
        &::after {
            content: none;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: currentColor;
        }
    }

    // 개별 아이템 사이즈 클래스 대응
    &--large {
        @include tab-large;
    }

    &--medium {
        @include tab-medium;
    }

    &--small {
        @include tab-small;
    }
}

// --- 언더라인 옵션 제어 (명시도를 활용하여 !important 없이 제어) ---

// 1. Label Width Underline (기본 Full 언더라인을 숨기고 텍스트 언더라인 활성화)
.tab-list--underline-label {

    .tab-item:hover,
    .tab-item--active {
        &::after {
            content: none;
        }

        .tab-item__text::after {
            content: '';
        }
    }
}

// 2. No Underline (모든 언더라인 숨김)
.tab-list--underline-none {

    .tab-item:hover,
    .tab-item--active {

        &::after,
        .tab-item__text::after {
            content: none;
        }
    }
}

// 부모 리스트 사이즈 클래스 대응
.tab-list--large .tab-item {
    @include tab-large;
}

.tab-list--medium .tab-item {
    @include tab-medium;
}

.tab-list--small .tab-item {
    @include tab-small;
}