@import "../core/index";

// VDS 3.0 Tab 컴포넌트 스타일

@mixin tab-large {
    height: 48px;
    padding: 0 18px;
    @include label-15-sb();
}

@mixin tab-medium {
    height: 40px;
    padding: 0 10px;
    @include label-14-sb();
}

@mixin tab-small {
    height: 32px;
    padding: 0 10px;
    @include label-13-sb();
}

.tab-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-tertiary);
    width: 100%;
    background-color: transparent;
}

.tab-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    color: var(--label-tertiary);
    transition: all 0.2s ease;
    box-sizing: border-box;
    white-space: nowrap;

    // 언더라인 베이스 (기본적으로 Full Width 활성)
    &::after {
        content: none;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: currentColor;
    }

    &--active {
        color: var(--label-primary);

        &::after {
            content: ''; // 기본 활성화 (Full Width)
        }

        // 텍스트까지 액센트 컬러를 사용하는 변형
        &.tab-item--accent {
            color: var(--label-accent);
        }
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--label-quinary);
        pointer-events: none;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__text {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 100%;

        // 텍스트 영역 언더라인 베이스 (기본적으로 숨김)
        &::after {
            content: none;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: currentColor;
        }
    }

    // 개별 아이템 사이즈 클래스 대응
    &--large {
        @include tab-large;
    }

    &--medium {
        @include tab-medium;
    }

    &--small {
        @include tab-small;
    }
}

// --- 언더라인 옵션 제어  ---

// 1. Full Width Underline (이미 기본값이므로 추가 클래스 사용 시에도 유지)
.tab-list--underline-full {
    .tab-item--active::after {
        content: '';
    }
}

// 2. Label Width Underline (기본 Full 언더라인을 숨기고 텍스트 언더라인 활성화)
.tab-list--underline-label {
    .tab-item--active {
        &::after {
            content: none;
        }

        .tab-item__text::after {
            content: '';
        }
    }
}

// 3. No Underline (모든 언더라인 숨김)
.tab-list--underline-none {
    .tab-item--active {

        &::after,
        .tab-item__text::after {
            content: none;
        }
    }
}

// 부모 리스트 사이즈 클래스 대응
.tab-list--large .tab-item {
    @include tab-large;
}

.tab-list--medium .tab-item {
    @include tab-medium;
}

.tab-list--small .tab-item {
    @include tab-small;
}