@import "../core/index";

.tooltip {
    position: relative;
    display: inline-block;

    // Trigger Element
    &__trigger {
        display: inline-flex;
        cursor: pointer;
    }

    // Tooltip Contents
    &__content {
        position: absolute;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease, visibility 0.2s ease;

        background-color: var(--colors-grey-900);
        color: var(--inverse-white);
        padding: 8px 10px;
        border-radius: var(--radius-8);
        @include caption-12-r();
        white-space: nowrap;
        @include elevation-ambient();

        // Arrow Tail (바닥은 직각, 팁 부분만 1px 라운딩 처리된 SVG 마스크)
        &::after {
            content: '';
            position: absolute;
            background-color: var(--colors-grey-900);
            width: 8px;
            height: 5px;
            // 밑변은 붙어있고(Sharp), 꼭지점만 둥근 형태의 SVG Data URI
            --tooltip-arrow-mask: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63188 0.505118C4.30504 0.096417 3.69496 0.096417 3.36812 0.505118L0 4.71512V5H8V4.71512L4.63188 0.505118Z' fill='black'/%3E%3C/svg%3E");
            -webkit-mask-image: var(--tooltip-arrow-mask);
            mask-image: var(--tooltip-arrow-mask);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
        }
    }

    // 호버 시 툴팁 표시
    &:hover &__content {
        visibility: visible;
        opacity: 1;
    }

    // ---------------------------------------------------------------------------
    // Direction & Alignment Modifiers (Top, Bottom, Left, Right) + (Start, End)
    // ---------------------------------------------------------------------------

    // --- 1. Top ---
    // 툴팁 본체가 위에 있고, 꼬리가 아래를 향함 (▽)
    &--top &__content,
    &--top-start &__content,
    &--top-end &__content {
        bottom: calc(100% + 5px); // 화살표 높이(5px)만큼 띄움

        &::after {
            bottom: -5px; // 툴팁 영역 바깥으로 빼기
            // 아래로 뾰족해야 하므로 상하 반전 ▽
            transform: scaleY(-1);
        }
    }

    // Top - Center (기본)
    &--top &__content {
        left: 50%;
        transform: translateX(-50%);

        &::after {
            left: calc(50% - 4px); // 너비(8px)의 절반
        }
    }

    // Top - Start (꼬리가 왼쪽으로 치우침)
    &--top-start &__content {
        left: 0;

        &::after {
            left: 10px;
        }
    }

    // Top - End (꼬리가 오른쪽으로 치우침)
    &--top-end &__content {
        right: 0;

        &::after {
            right: 10px;
        }
    }


    // --- 2. Bottom ---
    // 툴팁 본체가 아래에 있고, 꼬리가 위를 향함 (△)
    &--bottom &__content,
    &--bottom-start &__content,
    &--bottom-end &__content {
        top: calc(100% + 5px); // 화살표 높이(5px)

        &::after {
            top: -5px;
            // 위로 뾰족해야 하므로 기본 형태 유지 △
            transform: none;
        }
    }

    // Bottom - Center (기본)
    &--bottom &__content {
        left: 50%;
        transform: translateX(-50%);

        &::after {
            left: calc(50% - 4px);
        }
    }

    // Bottom - Start (꼬리가 왼쪽으로 치우침)
    &--bottom-start &__content {
        left: 0;

        &::after {
            left: 10px;
        }

    }

    // Bottom - End (꼬리가 오른쪽으로 치우침)
    &--bottom-end &__content {
        right: 0;

        &::after {
            right: 10px;
        }

    }


    // --- 3. Left ---
    // 툴팁 본체가 왼쪽에 있고, 꼬리가 오른쪽을 향함 (▷)
    &--left &__content,
    &--left-start &__content,
    &--left-end &__content {
        right: calc(100% + 5px); // 화살표 높이(5px)가 우측으로 삐져나옴

        &::after {
            // 요소를 8x5 크기로 놔둔 채로 회전시키므로 
            // 우측으로 5px만큼 튀어나가려면 위치 조정이 필요함
            right: -6.5px;
            width: 8px;
            height: 5px;
            // 오른쪽으로 뾰족 ▷ (정중앙을 기준으로 회전)
            transform: rotate(90deg);
        }
    }

    // Left - Center (기본)
    &--left &__content {
        top: 50%;
        transform: translateY(-50%);

        &::after {
            // width가 8px이므로 높이 방향 중앙정렬은 위아래가 바뀜
            top: calc(50% - 2.5px); // height 5px의 절반
        }
    }

    // Left - Start (꼬리가 위쪽으로 치우침)
    &--left-start &__content {
        top: 0;

        &::after {
            top: 10px; // 모서리 곡률과 시각적 균형을 맞춘 여백
        }

        // 좁은 쪽(위) 여백 8px
    }

    // Left - End (꼬리가 아래쪽으로 치우침)
    &--left-end &__content {
        bottom: 0;

        &::after {
            bottom: 10px;
        }

        // 좁은 쪽(아래) 여백 8px
    }


    // --- 4. Right ---
    // 툴팁 본체가 왼쪽에 있고, 꼬리가 왼쪽을 향함 (◁)
    &--right &__content,
    &--right-start &__content,
    &--right-end &__content {
        left: calc(100% + 5px);

        &::after {
            // 요소를 8x5 로 유지한 채 -90도 회전
            left: -6.5px;
            width: 8px;
            height: 5px;
            // 왼쪽으로 뾰족 ◁
            transform: rotate(-90deg);
        }
    }

    // Right - Center (기본)
    &--right &__content {
        top: 50%;
        transform: translateY(-50%);

        &::after {
            top: calc(50% - 4px);
        }
    }

    // Right - Start (꼬리가 위쪽으로 치우침)
    &--right-start &__content {
        top: 0;

        &::after {
            top: 10px;
        }
    }

    // Right - End (꼬리가 아래쪽으로 치우침)
    &--right-end &__content {
        bottom: 0;

        &::after {
            bottom: 10px;
        }
    }
}